# IntelliJ 설정 무시
.idea/

# Node modules (프론트엔드)
frontend/node_modules/


# 빌드 출력물
frontend/.next/
backend/build/

# 로그 파일
*.log

# 환경 변수 파일
*.env

# package-lock
frontend/package-lock.json

# SSL 인증서 관련 파일
localhost+2.pem
localhost+2-key.pem
*.pem
*.key
*.crt
cert/

# SSL / HTTPS 인증서 관련
localhost*.p12
*.p12
